secrets.csv
foo.jpg
dark.jpg
/.idea
/.venv
/.vscode
/build
nerja.py
Nerja.csv
kladd copy.csv
/scripts/Old crap/pythonProject/transaktioner_sparkonto_merge_ 20221229.csv
/scripts/Old crap/pythonProject/Transaktioner_2022-12-29_11-41-40.csv
/scripts/Old crap/pythonProject/Transaktioner sparkonto.csv
/scripts/Old crap/pythonProject/Transaktioner sparkonto modified.csv
/scripts/Old crap/pythonProject/Transaktioner privatkonto.csv
/scripts/Old crap/pythonProject/stocks_in_the_sp_500_index.csv
