html {
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  text-align: center;
}

#box {
  position: relative;
  background-color: #eb181812;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  border: 10px solid black;
  box-sizing: border-box;
}

#indicator {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  width: 20px;
  height: 20px;
}

#value {
  width: 200px;
  margin: 0 auto;
  height: 100px;
}
