CompileFlags:
  CompilationDatabase: "build"
  Add: 
    - "-mthumb"
    - "-mcpu=cortex-m0plus"
    - "-isystem"
    - "/usr/arm-none-eabi/include/c++/14.2.0"
    - "-isystem"
    - "/usr/arm-none-eabi/include/c++/14.2.0/arm-none-eabi"
    - "-isystem"
    - "/usr/arm-none-eabi/include/c++/14.2.0/backward"
    - "-isystem"
    - "/usr/lib/gcc/arm-none-eabi/14.2.0/include"
    - "-isystem"
    - "/usr/lib/gcc/arm-none-eabi/14.2.0/include-fixed"
    - "-isystem"
    - "/usr/arm-none-eabi/include"
Index:
  Background: true
