# Contents of /etc/systemd/system/bme280_sensor.service
[Unit]
Description=My Service
After=network.target

[Service]
Type=simple
Restart=always
ExecStart=/home/$USER/TamiAlQuida.github.io/scripts/bme280_sensor.sh

[Install]
WantedBy=multi-user.target
